# Credit Risk Evaluator

In [1]:
import numpy as np
import pandas as pd
from pathlib import Path
from sklearn.model_selection import train_test_split

## Retrieve the Data

The data is located in the Challenge Files Folder:

* `lending_data.csv`

Import the data using Pandas. Display the resulting dataframe to confirm the import was successful.

In [7]:
# Import the data
lending_data = pd.read_csv("./Resources/lending_data.csv")

lending_data.head()

,loan_size,interest_rate,borrower_income,debt_to_income,num_of_accounts,derogatory_marks,total_debt,loan_status
0,10700.0,7.672,52800,0.431818,5,1,22800,0
1,8400.0,6.692,43600,0.311927,3,0,13600,0
2,9000.0,6.963,46100,0.349241,3,0,16100,0
3,10700.0,7.664,52700,0.430740,5,1,22700,0
4,10800.0,7.698,53000,0.433962,5,1,23000,0

## Predict Model Performance

You will be creating and comparing two models on this data: a Logistic Regression, and a Random Forests Classifier. Before you create, fit, and score the models, make a prediction as to which model you think will perform better. You do not need to be correct! 

Write down your prediction in the designated cells in your Jupyter Notebook, and provide justification for your educated guess.

*Replace the text in this markdown cell with your predictions, and be sure to provide justification for your guess.*

## Split the Data into Training and Testing Sets

In [8]:
# Split the data into X_train, X_test, y_train, y_test
X = lending_data.drop(columns=["loan_status"])
y = lending_data["loan_status"]

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

## Create, Fit and Compare Models

Create a Logistic Regression model, fit it to the data, and print the model's score. Do the same for a Random Forest Classifier. You may choose any starting hyperparameters you like. 

Which model performed better? How does that compare to your prediction? Write down your results and thoughts in the designated markdown cell.

In [ ]:
# Train a Logistic Regression model and print the model score

In [19]:
from sklearn.preprocessing import StandardScaler

# Scale training and testing data based on training features
scaler = StandardScaler().fit(X_train)

# Apply scaling transformation to training/testing features
X_train_scaled = scaler.transform(X_train)
X_test_scaled = scaler.transform(X_test)

In [20]:
from sklearn.linear_model import LogisticRegression

# Create logistic model
model_lr = LogisticRegression()

# Fit model to training data
model_lr.fit(X_train_scaled, y_train)

LogisticRegression()

In [25]:
# View score for testing data
model_lr.score(X_train_scaled, y_train)

0.9939865867027794

In [27]:
y_pred = model_lr.predict(X_test_scaled)
y_true = y_test

results = pd.DataFrame({"Predictions": y_true, "Actual": y_pred})
results

       Predictions  Actual
67504            0       0
55887            0       0
14010            0       0
43768            0       0
24257            0       0
...            ...     ...
17643            0       0
65484            0       0
62756            0       0
54365            0       0
4148             0       0

[15508 rows x 2 columns]

In [29]:
from sklearn.metrics import confusion_matrix, classification_report

cm_lr = confusion_matrix(y_true, y_pred)

tn, fp, fn, tp = cm_lr.ravel()

print(cm_lr)

[[14940    71]
 [   11   486]]

In [31]:
cr_lr = classification_report(y_true, y_pred)
print(cr_lr)

              precision    recall  f1-score   support

           0       1.00      1.00      1.00     15011
           1       0.87      0.98      0.92       497

    accuracy                           0.99     15508
   macro avg       0.94      0.99      0.96     15508
weighted avg       1.00      0.99      0.99     15508

In [ ]:
# Train a Random Forest Classifier model and print the model score

*Which model performed better? How does that compare to your prediction? Replace the text in this markdown cell with your answers to these questions.*